<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content = "width-device-width", initial-scale=1.0>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <!--<script src="script.js"/>-->
    <title>{index_title}</title>
</head>
<body class="body">
    <!-- =================================================================== -->
    <!--                                                          HEADER BAR -->
    <!-- ====================================================================-->
    <header class="main_header">
        <nav class="main_navigation"><ul>
            {nav_items}
        </ul></nav>
    </header>

    <!-- =================================================================== -->
    <!--                                                                MAIN -->
    <!-- ====================================================================-->
    <div class="main">
        {sections}
    </div><!-- End  Main -->

    <!-- =================================================================== -->
    <!--                                                              FOOTER -->
    <!-- ====================================================================-->
    <footer class="main_footer">
        <p>Something</p>
    </footer>
</body>
</html>
